.priview-wrapper {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  vertical-align: top;
  display: inline-block;

  .priview {
    position: relative;
  }

  .circle {
    border-radius: 50%;
  }

  .preview-mask {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 36px;
    color: #fff;
    text-align: center;
    transition: opacity 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .preview-mask {
      opacity: 1;
    }
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-js .inputfile + label {
    display: none;
  }

  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
