.number-card {
  padding: 25px;
  cursor: pointer;
  min-height: 110px;

  .icon-warp {
    font-size: 54px;
    float: left;
  }

  .content-number {
    width: 100%;
    padding-left: 78px;

    .title-number {
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 8px;
      height: 18px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .number {
      line-height: 32px;
      font-size: 24px;
      height: 32px;
      margin-bottom: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
