.login-main {
  background-color: #f7f7f7;
  min-height: calc(100vh - 50px);

  .login-form-wrapper {
    max-width: 800px;
    min-height: 400px;
    background: #fff;
  }

  .login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}
