@import 'colors';
@import 'mixins';
@import 'login';
@import 'dashboard';

body {
  margin: 0;
  background-color: #f7f7f7;
}

.shared-loading {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elevation-ant {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  border-color: rgba(0, 0, 0, 0.09);
}

.logo {
  height: 28px;
  margin: 16px;
  text-align: center;

  img {
    width: 100px;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.application-wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  margin-left: 200px;
  background-color: #f7f7f7;

  .content {
    transition: none;
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
  }

  .content-wrap {
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;

    .content-main {
      height: 100%;
    }
  }
}

.ant-table-body {
  overflow: auto !important;
}

.ant-layout {
  background-color: #f7f7f7;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

  input,
  .select-filter {
    width: 130px;
    margin-right: 8px;
  }

  button {
    margin-right: 8px;
  }

  .highlight {
    color: #f50;
  }
}

.app-bar-avatar {
  i {
    font-size: 30px !important;
  }
}
